{% extends 'layout.html' %}

{% block content %}

<div class="col-lg-4 offset-lg-4 mt-4">

    <div
        class="card card-body p-5 text-light"
        style="background-color: #212529">

        <div class="mb-3">
            <h4>
                Password generated:
            </h4>

        </div>

        <div class="mb-3">
            <h1>
                <span class="badge bg-secondary w-100">
                    {{ password }}
                </span>
            </h1>
        </div>

        <a href="{% url 'home' %}" class="btn btn-primary mt-3">
            Go back
        </a>
    </div>

</div>

{% endblock %}